[Unit]
Description=Rhasspy LED Service
After=syslog.target

[Service]
Type=simple
User=michael
Group=michael
WorkingDirectory=/home/michael/git/rhasspy-led/Rhasspy-LED
ExecStart=/usr/bin/python3 /home/michael/git/rhasspy-led/Rhasspy-LED/Rhasspy-LED.py
SyslogIdentifier=rhasspyled
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
